*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;  
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: #FFFFFF;
    font-style: normal;
    text-align: center;
    background-color: #C4C4C4;
}

.wrapper {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    background-color: #E6E6E6;
    margin: 50px;
}

.box_1, .box_2, .box_3, .box_8, .box_9, .box_10, .box_11 {
    width: 200px;
    height: 200px;
    background-color: #FC8F8F;
    padding: 63px;
}

.box_4, .box_5, .box_6, .box_7 {
    width: 100px;
    height: 100px;
    background-color: #FC8F8F;
    padding-top: 31px;
    font-size: 36px;
    margin-left: 15px;
}

.box_1, .box_3, .box_4, .box_5, .box_6, .box_7, .box_8, .box_9, .box_10, .third-left {
    float: left;
}

.box_2, .box_11, .second-right, .third-right {
    float: right;
}

.clearfix {
    clear: both;
}

.box_9, .box_11 {
    margin-left: 15px;
}