body {
    background-image: url(../img/image.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
    height: 100vh;
}

.menu {
    max-width: 860px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    background-color: #172933;
    width: 170px;
    height: 50px;
    border: 1px solid aliceblue;
    color: aliceblue;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    float: left;
    position: relative;
}

.menu ul li:hover {
    background-color: #1B576B;
}

.menu ul ul {
    display: none;
}

.menu ul li:hover > ul {
    display: block;
}

.menu ul ul ul {
    margin-left: 170px;
    top: 0;
    position: absolute;
}
